<%= shout.body %>
		<span> - by - <span>
	<%= link_to shout.username, shout.user %> 
		<span> - by - <span>
	<%= link_to shout do%>
		<%= time_ago_in_words(shout.created_at) %> ago
	<% end %>
</div>
<br>